.games-content
{
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;

    padding: 30px;
    background-color: #252525;
}
.game
{
    width: 100%;
    min-height: 5.5vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #252525;
    padding: 15px;
    margin-bottom: 15px;
}
.game:hover
{
    background-color: #2a2a2a;
}


.count-wrapper
{
    width: 100%;
    height: auto;
    justify-content: center;
    display: flex;
    padding: 30px;
    box-sizing: border-box;
    flex-direction: column;
    flex-wrap: wrap;
}
.task-list
{
    width: 100%;
    height: 50vh;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.task
{
    width: 100%;
    min-height: 12.5vh;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    padding: 15px;
    box-sizing: border-box;
    font-size: 19.5px;
    display: flex;
}

.user-input
{
    width: 50%;
    height: 9vh;
    align-items: center;
    font-size: 17.5px;
    margin-left: 25%;
    margin-right: 25%;
    box-sizing: border-box;
    margin-top: 10px;
    text-align: center;
}

.countBtn
{
    width: 15%;
    height: 35px;
    margin-left: 42.5%;
    
    margin-right: 42.5%;
    box-sizing: border-box;
}